* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}
li .h, li .time{
    display:inline-block;
    position:relative
}
ul {
    list-style: none;
    float: left;
}
.content {
    margin-top: 8vh;
    margin-left: 8vw;
}
.content header {
	margin-bottom: 50px;
}
.content header .mm {}
.content header .micmax {
	margin-left: 30px;
}
.content ul {
    font-weight: 300;
    font-size: 16px;
    color: #000;
    line-height: 36px;
    width :100%;
    max-width: 600px;
}
.content ul li .time {
    font-weight: 500;
    color: #adadad;
    width: 140px;
}
.content ul li .h:before {
    width: calc(108%);
    display: inline-block;
    position: absolute;
    height: 14px;
    background: #4A90E2;
    content: '';
    opacity: .3;
    top: 18px;
    left: -2px;
    transition: all .1s ease-out
}
.content ul li a.title:hover .h:before {
    left: 0px;
    top: 15px;
}
.content ul li:nth-child(even) .h:before {
    background: #50e3c2
}
.content h4 {
    font-weight: 500;
    font-size: 18px;
    border-bottom: 1px solid #000;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 40px;
    line-height: 40px
}
.content footer {
    max-width: 1100px;
    margin-top: 60px;
    line-height: 30px;
    font-weight: 300;
    font-size: 14px;
    position: relative;
}
.content footer a {
    margin-right: 30px;
}
.content footer .lil-guy {
	position: absolute;
	bottom: -11px;
	right: 0px;
}

.content ul li.carleton .h:before{ background: #e74c3c; }
.content ul li.website .h:before{ background: #9b59b6; }
.content ul li.jackie .h:before{ background: #f1c40f; }

.content ul li.jackie {
    cursor: crosshair;
}